<div class="question-container">
  <div class="row h-50">
    <div class="question-body-container">
      <h1>¿Quieres un reto para tu alarma?</h1>
    </div>
  </div>
  <div class="row h-50">
    <div class="btn-group button-container">
      <button
        mat-raised-button
        class="cancel"
        (click)="responseQuestion()"
      >No</button>
      <button
        mat-raised-button
        class="success"
        (click)="responseQuestion()"
      >Si</button>
    </div>
  </div>
</div>
